################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MHP.DWP/bin
/MHP.DWP/obj
/MHP.DWP/Properties/PublishProfiles
/.vs/MHP.DWP/v16
/MHP.DWP.Blazor/Client/bin/Debug/netstandard2.1
/MHP.DWP.Blazor/Client/obj
/MHP.DWP.Blazor/Server/bin/Debug/netcoreapp3.1
/MHP.DWP.Blazor/Server/obj
/MHP.DWP.Blazor/Shared/bin/Debug/netstandard2.1
/MHP.DWP.Blazor/Shared/obj
/MHP.DWP.Blazor/Client/bin/Debug/net5.0
/MHP.DWP.Blazor/Server/bin/Debug/net5.0
/.vs/MHP.DWP/config
/.vs/MHP.DWP/DesignTimeBuild
/MHP.DWP.Blazor/Client/bin/Release/net5.0
/MHP.DWP.Blazor/Server/bin/Release/net5.0
/MHP.DWP.Blazor/Server/Properties/PublishProfiles
/MHP.DWP.Blazor/Shared/bin/Release/netstandard2.1
**/.vs
**/bin
**/obj
/MHP.DWP.ServiceNote.Functions/Properties
/.idea/.idea.MHP.DWP/.idea
/.idea/config/applicationhost.config
